global:
  nameOverride: ""
  fullnameOverride: ""
  namespaceOverride: ""
  labels: {}

app:
  kind: Deployment # StatefulSet or Deployment
  lebels: {}
  annotations: {}
  replicas: 1 # autoscaling.enable == true - set it to disabled
  revisionHistoryLimit: 1 # if kind == "Deployment"
  strategy: {} # if kind == "Deployment"
  auth:
    enabled: false
    nginxVer: 1.27.1
    nginxProxyPassPort: 3000
    nginxListenPort: 80
    resources:
      memory: 50Mi
      cpu: 50m
    basicAuthSecret: {}
  otel:
    enabled: false
    exporter_url: ""
    log_level: info
  podLabels: {}
  podAnnotations: {}
  affinity: {}
  nodeSelector: {}
  hostNetwork: false
  shareProcessNamespace: ""
  image:
    name: ""
    tag: ""
    pullPolicy: Always
  imagePullSecrets: []
  serviceAccountName: ""
  podSecurityContext: {} # for pod c1zRwgWhqVsaeK3Vlevel
  securityContext: {} # for container level
  command: []
  commandArgs: []
  ports: []
  resources: {}
  livenessProbe: {}
  readinessProbe: {}
  startupProbe: {}
  env: []
  envFrom: []
  volumes: [] # mount inside pod
  volumeMounts: [] # mount inside container
  volumeClaimTemplates: {} # if kind == "StatefulSet"
  extraContainer: {} # for single extra container
  extraContainersList: # for list of are containers
    image: # if need yse common image for all containers
      name: ""
      tag: ""
      pullPolicy: ""
    resources: {}
    command: []
    commandArgs: []
    pvc:
      enabled: false
      accessMode: "" # default ReadWtiteOnce
      storageSize: ""
      storageClassName: ""
    list: []
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 3
    targetMemory: ""
    targetCPU: ""
  sidecarContainers: [] # for list of are sidecars

service:
  enabled: false
  list:
    - name: "" # if empty, will be used universl.fullname (opt. universl.fullname + .name_suffix)
      nameSuffix: "" # if emty, will be used universl.fullname or .name
      labels: {}
      annotations: {}
      type: ClusterIP
      isHeadless: false
      ports: {}
# test
configmap:
  enabled: false
  name: "" # if empty, will be used universl.fullname (opt. universl.fullname + .nameSuffix)
  nameSuffix: "" # if empty, will be used universl.fullname or .name
  createVolume: true # create volume inside pod
  data: {}

serviceAccount:
  create: false
  name: "" # if not set, the common name will be used
  authDelegator: false
  labels: {}
  annotations: {}
  automountServiceAccountToken:

secret: # argocd vault cmp + argocd image updater dont work
  enabled: false
  name: "" # if empty, will be used universl.fullname (opt. universl.fullname + .nameSuffix)
  nameSuffix: "" # if empty, will be used universl.fullname or .name
  type: ""
  data: {}

secretDockerconfigjson:
  enabled: false
  data: ""

pvc:
  enabled: false
  name: "" # if empty, will be used universl.fullname (opt. universl.fullname + .nameSuffix)
  nameSuffix: "" # if empty, will be used universl.fullname or .name
  accessMode: "" # default ReadWtiteOnce
  storageSize: ""
  StorageClassName: ""

ingress:
  enabled: false
  annotations: {}
  className: ""
  hosts: {}
  tls: {}
