{{- if .Values.service.enabled }}
{{- range .Values.service.list }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ if and .name (not .nameSuffix) }}{{ .name }}{{ else if and .name .nameSuffix }}{{ printf "%s-%s" .name .nameSuffix }}{{ else if and (not .name) .nameSuffix }}{{ printf "%s-%s" (include "universal.fullname" $) .nameSuffix }}{{ else }}{{ include "universal.fullname" $ }}{{ end }}
  namespace: {{ include "universal.namespace" $ }}
  labels:
    {{- include "universal.labels" $ | nindent 4 }}
    {{- with .labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if (or (eq .type "ClusterIP") (empty .type)) }}
  type: ClusterIP
  {{- with .clusterIP }}
  clusterIP: {{ . }}
  {{- end }}
  {{- else if eq .type "LoadBalancer" }}
  type: LoadBalancer
  {{- with .loadBalancerIP }}
  loadBalancerIP: {{ . }}
  {{- end }}
  {{- with .loadBalancerClass }}
  loadBalancerClass: {{ . }}
  {{- end }}
  {{- with .loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- else }}
  type: {{ .type }}
  {{- end }}
  {{- if .ipFamilyPolicy }}
  ipFamilyPolicy: {{ .ipFamilyPolicy }}
  {{- end }}
  {{- if .ipFamilies }}
  ipFamilies: {{ .ipFamilies | toYaml | nindent 2 }}
  {{- end }}
  {{- with .externalIPs }}
  externalIPs:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .externalTrafficPolicy }}
  externalTrafficPolicy: {{ . }}
  {{- end }}
  ports:
    {{- if .ports }}
      {{- range .ports }}
    - port: {{ .port | default $.Values.app.commonPort | int }}
      targetPort: {{ .targetPort | default .port | default $.Values.app.commonPort | int }}
      protocol: {{ .protocol | default "TCP" }}
      name: {{ .name | default "http" }}
      {{- if .nodePort }}
      nodePort: {{ .nodePort }}
      {{- end }}
      {{- end }}
    {{- else }}
    {{- if not $.Values.app.commonPort -}}
      {{- fail (printf "\n[ERROR] Service validation failed: 'service.port' is missing and '.app.commonPort' is not defined.") -}}
    {{- end -}}
    - port: {{ $.Values.app.commonPort | int }}
      targetPort: {{ $.Values.app.commonPort | int }}
      protocol: TCP
      name: http
    {{- end }}
  selector:
    {{- include "universal.selectorLabels" $ | nindent 4 }}
{{- end }}
{{- end }}
{{- if .Values.app.auth.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "universal.labels" . | nindent 4 }}
  name: {{ printf "%s-%s" ( include "universal.fullname" . ) "nginx-auth" }}
  namespace: {{ include "universal.namespace" . }}
spec:
  ports:
    - port: {{ .Values.app.auth.nginxListenPort | default $.Values.app.commonPort | int }}
      targetPort: {{ .Values.app.auth.nginxListenPort | default "80" | int }}
  selector:
    {{- include "universal.selectorLabels" . | nindent 4 }}
  type: NodePort
  internalTrafficPolicy: Cluster
{{- end }}
